.dianping_list{
    //我的点评
    .list{
        .list_cont{
            padding: 10px 0.3rem;
            dl{
                dt{
                    width: 44px;
                    height: 44px;
                    border: 1px solid $color_content1;
                    margin-right: 10px;
                }
                dd{
                    p.name{
                        line-height: 22px;
                        span.name{
                            color: #af874d;
                        }
                        span.color_red{
                            margin-right: 3px;
                            color: $color_content;
                        }
                    }
                    p.text{
                        line-height: 25px;
                    }
                }
            }
            .txt{
                line-height: 18px;
            }
            .pic{
                padding-bottom: 8px;
                .lazy {
                    width: 1.8rem;
                    height: 1.8rem;
                    margin:8px 0.2rem 0 0;
                    &:nth-child(3n) {
                        margin-right: 0;
                    }
                }
            }
            p.time {
                line-height: 17px;
                margin-top: 4px;
            }
            .iconfont {
                font-size: 12px;
                i{
                   margin:-1px 0 0 3px; 
                }
            }
        }
        .shang{
            background: #f9f9f9;
            padding: 15px 0.3rem 8px;
            div.pic{
                width: 36px;
                height: 36px;
                margin-right: 12px;
                .lazy{
                    width: 36px;
                    height: 36px;
                    border-radius: 50%;
                }
                p{
                    width: 16px;
                    height: 14px;
                    line-height: 14px;
                    border-radius: 50%;
                    color: #fff;
                    background: $color_red;
                    right: -6px;
                    top: -9px;
                    span{
                        display: inline-block;
                        @include transform(scale(0.8));
                    }
                    &:before{
                        content: '';
                        display: block;
                        position: absolute;
                        border-width: 7px 2px 0;
                        border-style: solid;
                        border-color: $color_red transparent transparent;
                        bottom: -3px;
                        @include transform(rotate(52deg));
                    }
                }
            }
            dl{
                color: #af874d;
                dt{
                    line-height: 21px;
                }
                dd{
                    line-height: 16px;
                    .text{
                        margin: 4px 0 7px;
                    }
                }
            }
        }
    }
    &.active .list{//鼠标滑过变背景色
        dl.list_cont:active{
            background: #f0f0f0!important;
        }
    }
}