.huifu_list{
    //点评列表
    a.box{
        padding: 10px 0.3rem;
        .lazy{
            width: 43px;
            height: 43px;
            margin-right: 6px;
            border-radius: 50%;
        }
        dl{
            dt{
                line-height: 24px;
            }
            dd{
                line-height: 17px;
            }
            p.text{
                font-size: 13px;
                height: 34px;
                @include line_over;
            }
        }
        &:active{
            background: #f0f0f0;
        }
    }
}