.optimal_list {
    //左边图片，右边文字
    section a {
        padding: 15px 0.3rem;
        background: #fff;
        .lazy {
            width: 90px;
            height: 68px;
            margin-right: 12px;
            border: 1px solid $color_border;
        }
        dl {
            dt {
                font-size: 15px;
                color: $color_title;
                height: 17px;
                line-height: 17px;
                margin-bottom: 3px;
            }
            dd {
                line-height: 18px;
                p.txt {
                    height: 36px;
                    @include line_over;
                }
                p.time {
                    font-size: 12px;
                }
            }
        }
        &:active {
            background: #f0f0f0;
        }
    }
}