footer{
    a{
        line-height: 50px;
        background: $color_title;
        color: $bg_white;
        i.iconfont{
            border-radius: 50%;
            border: 1px solid $bg_white;
            font-size: 13px;
            display: inline-block;
            width: 22px;
            height: 22px;
            line-height: 22px;
            margin-right: 4px;
        }
        &.on{
            background: #18dab5;
        }
    }
}
