@import "_color"; //颜色
@import "_fn"; //方法
.marginlr {
    margin: 0 0.3rem;
}
.paddinglr {
    padding: 0 0.3rem;
}
.daigou {
    //底价代购
    .box1 {
        width: 6.4rem;
        height: 6.7rem;
    }
    dl.title {
        padding-top: 25px;
        dt {
            color: $color_title;
            line-height: 1.5em;
        }
        dd {
            color: $color_content1;
            line-height: 21px;
            span {
                display: inline-block;
                &:before,
                &:after {
                    width: 0.7rem;
                    height: 1px;
                    content: '';
                    display: block;
                    position: absolute;
                    background: $color_content1;
                    top: 10px;
                }
                &:before {
                    left: -0.8rem;
                }
                &:after {
                    right: -0.8rem;
                }
            }
        }
    }
    .box2 {
        .lazy {
            width: 5.04rem;
            height: 5.04rem;
            margin: 20px auto 0;
        }
    }
    .box3 {
        padding-bottom: 21px;
        background: #f4f4f4;
        margin-top: 30px;
        .lazy {
            width: 5.8rem;
            height: 3.48rem;
            margin: 30px auto 0;
        }
    }
    .box4 {
        .lazy {
            width: 5.8rem;
            height: 3.15rem;
            margin: 14px auto 0;
        }
    }
    .box5 {
        margin: 25px 0.3rem;
        button {
            background-color: #1bbd9e;
            width: 100%;
            height: 44px;
            line-height: 44px;
            border-radius: 5px;
            color: $bg_white;
        }
    }
}
.floor_price {
    //询问底价
    .box1 {
        height: 65px;
        background: #fffcf1;
        .size {
            width: 5.12rem;
            margin: 0 auto;
            padding-top: 16px;
            div {
                color: $bg_white;
                width: 18px;
                height: 18px;
                font-size: 12px;
                line-height: 18px;
                border-radius: 50%;
                background-color: $color_content1;
                position: relative;
                i {
                    display: none;
                    font-size: 12px;
                }
                &.ok {
                    background-color: #28bda0;
                    span {
                        display: none;
                    }
                    i.iconfont {
                        display: block;
                    }
                    p {
                        color: #28bda0;
                    }
                }
                p {
                    line-height: 28px;
                    white-space: nowrap;
                    color: $color_content1;
                    position: absolute;
                    left: 50%;
                    @include transform(translate(-50%,0));
                }
            }
            p.flex1 {
                height: 2px;
                background: $color_content1;
                margin-top: 8px;
                &.ok {
                    background-color: #28bda0;
                }
            }
        }
    }
    .box2 {
        .cont1 {
            padding-top: 12px;
            dl {
                border-bottom: 1px solid #eaeaea;
                line-height: 40px;
                dt {
                    width: 42px;
                    color: $color_title;
                    font-size: 15px;
                }
                dd {
                    input,
                    select {
                        border: 0;
                        height: 100%;
                        color: $color_content;
                    }
                    select{
                        width: 49%;
                    }
                }
            }
        }
        .cont2 {
            padding: 20px 0.3rem;
            li {
                width: 1.8rem;
                height: 1.8rem;
                margin-left: 0.2rem;
                &:first-child {
                    margin-left: 0;
                }
                img {
                    width: 100%;
                    height: 100%;
                }
                span {
                    width: 16px;
                    height: 16px;
                    line-height: 16px;
                    display: block;
                    right: 0;
                    top: 0;
                    background: rgba(0,0,0,.4);
                    i {
                        color: #fff;
                        font-size: 12px;
                    }
                }
            }
            dl {
                width: 1.8rem;
                height: 1.8rem;
                color: $color_content1;
                border: 1px dashed #e8e5e8;
                font-size: 18px;
                margin-left: 0.2rem;
                &:first-child {
                    margin-left: 0;
                }
                dt {
                    line-height: 1em;
                    padding-top: 30%;
                }
                dd {
                    line-height: 2em;
                }
            }
        }
        .cont3{
            h4{
               line-height: 40px;
               color: $color_title;
               font-size: 15px; 
            }
            dl{
                line-height: 40px;
                dt{
                    width: 31px;
                    height: 22px;
                    margin:9px 10px 0 0;
                    line-height: 22px;
                    text-align: center;
                }
                dd{
                    input{
                        width: 100%;
                        height: 100%;
                        color: $color_content;
                        &[type=number]{
                            width: 2.5rem;
                        }
                    }
                    p{
                        width: 1.3rem;
                        height: 24px;
                        line-height: 24px;
                        background: #fdb247;
                        color: $bg_white;
                        margin-top: 8px;
                    }
                }
            }
            input[type=submit]{
                width: 100%;
                height: 44px;
                background: #1bbd9e;
                color: $bg_white;
                margin: 20px 0;
                display: block;
                font-size: 15px;
            }
            p.text{
                color: $color_content1;
                line-height: 1.5em;
                padding-bottom: 16px;
            }
        }
    }
}
