@import "_color"; //颜色
@import "_fn"; //方法
@import "block/case-list";
//登录注册找回密码
.user_form{
	li{margin-top:10px;position:relative;}
	input.form_control{height:40px;background:#fff;border:0;width:100%;padding:0 0.3rem;border-top:solid 1px $color_border;border-bottom:solid 1px $color_border;
	}
    textarea.form_control{height:100px;background:#fff;border:0;width:100%;padding:5px 0.3rem;border-top:solid 1px $color_border;border-bottom:solid 1px $color_border;}
	.code{position:absolute;right:0;top:5px;height:30px;width:120px;border-left:solid 1px $color_border;
		img{display:block;margin:5px auto;width:100px;height:20px;}
		button{margin:0 auto;width:100px;height:30px;display:block;background:none;border:0;color:$color_red;}
	}
	.see{width:60px;height:40px;right:0;top:0;line-height:40px;text-align:center;
		.iconfont{font-size:26px;}
	}
	.form_error{padding:5px 15px;}
	input[type=submit]{border-radius:3px;line-height:40px;}
	.pd{padding:15px 0.3rem;}
	.form_static{padding:0 0.3rem;}
}
.other_login{
	.tit{
		p{
			&:after{content:'';width:90%;height:1px;display:block;margin:8px auto 0;overflow:hidden;background:$color_border;}
		}
		margin-bottom:20px;
	}
	.iconfont{width:50px;height:50px;display:inline-block;border:solid 1px $color_red;color:$color_red;border-radius:50%;text-align:center;line-height:45px;font-size:28px;}
}

//装修计算器
.count_cat{
	ul{width:90%;margin:0 auto;}
	li{height:1.5rem;margin:0.4rem;}
	img{display:inline;width:1.5rem;}
}
.count_detaile{
	padding:10px 0;
	dt{font-size:15px;color:$color_title;padding:5px 15px;}
	dd{
		padding:0 7px 10px;
		ul{
			div.box{height:34px;padding:0 8px;
				.txt,select{border:solid 1px $color_border;padding:0 10px;height:34px;margin:0;color:$color_content;}
				span{width:40px;display:block;text-align:center;line-height:34px;border:solid 1px $color_border;border-left:0;font-size:15px;color:$color_title;}
			}
		}
		.tips{padding-left:8px;padding-right:8px;}
		.form_error{padding:5px 8px;}
	}
}
.count_down_bar{
	height:85px;
	.bar{
		background:$color_red;position:absolute;bottom:0;left:0;width:100%;height:45px;
		.box{
			line-height:45px;color:#fff;
			.dengyu{width:45px;height:45px;border-radius:50%;border:solid 5px #dd0913;background:#e61720;position:relative;
				&:after{content:'';width:20px;height:2px;background:#fff;display:block;position:absolute;left:7px;top:12px;}
				&:before{content:'';width:20px;height:2px;background:#fff;display:block;position:absolute;left:7px;top:20px;}
			}
		}
		.tips{position:absolute;top:-25px;padding:0 15px;width:100%;}
	}
}

//设计师
//设计师
.designers_list{overflow:hidden;
	li{
		padding-top:15px;
		a.box>.flex1{border-bottom:solid 1px $color_border;padding-right:15px;padding-bottom:15px;}
		.head_pic{
			width: 50px;
			height: 50px;
			margin-left:15px;
			margin-right:8px;
			border-radius: 50%;
		}
		.p1{font-size:15px;line-height:1em;
			display: inline-block;
			position: relative;
			padding-right:20px;
			max-width: 100%;
			i{
				right:3px;
				position: absolute;
				width: 15px;
				height: 15px;
				background-color: $color_red;
				text-align:center;
				line-height: 15px;
				font-size: 12px;
				color: #fff;
				top:0;
			}
		}
		.p2,.p3{font-size:12px;line-height:1.5;}

		.price{
			margin-left:5px;
			.color_red{font-size:13px;margin-top:12px;}
			.color_content1{font-size:12px;}
		}
	}
}
.designers_info{
	.designers_head{
		height:2.8rem;background-size:cover;overflow: hidden;text-align: center;color:#fff;line-height: 1.5;
		.head_pic{width:0.95rem;height:0.95rem;border-radius: 50%;border:solid 2px #fff;overflow: hidden;margin:0.27rem auto 10px;
			img{width:100%;height:100%;}
		}
		.p1{font-size:0.3rem;}
		.p2{font-size:0.24rem;}
		.p3{font-size:0.24rem;}
	}
	.service_bar{
		height:45px;line-height: 45px;
		a:first-child{border-right:solid 1px $color_border;}
	}
	.tab{height:45px;line-height: 45px;
		.active{border-bottom: solid 1px $color_red;}
	}
	.jianjie{
		dl{padding:15px;
			dt{line-height: 33px;}
			dd{line-height: 1.6;padding: 5px 0;}
		}
	}
	.case{
		.picnum{right:10px;bottom:40px;color:#fff;}
		.zannum{right:10px;bottom:10px;
			.icon-xihuan{top:2px;position: relative;}
		}
		.case-list a.list div.lazy.pic div.nums{
			padding:0 70px 0 10px;
		}
		.case-list a.list div.fonts{padding-right: 70px;}
	}
}

//种子用户
div.active_zhong {
    img.banner {
        display: block;
        width: 100%;
        height: 3.28rem;
        background-color: #e33f3d;
    }

    div.lists {
        div.list {
        	overflow: hidden;
            margin-top: 10px;
            background-color: #fff;

            em.list_title {
                display: block;
                text-align: center;
                line-height: 1em;
                padding: 20px;
                height: 60px;
                font-size: 20px;

                span {
                    display: inline-block;
                    border-left: 2px solid $color_red;
                    padding: 0 4px;
                }

                &.f {
                    color: #fff;
                }
            }

            &.list1 {
                form {
                    padding: 15px;

                    em.title {
                        color: #fff;
                        background-color: #d49e2f;
                        font-size: 14px;
                        text-align: center;
                        display: block;
                        height: 25px;
                        line-height: 25px;
                        position: relative;
                        z-index: 1;
                        margin-left: 10px;
                        margin-right: 10px;

                        &:after {
                            content: '';
                            display: block;
                            width: 0;
                            height: 0;
                            border-width: 14px 0 14px 14px;
                            border-style: solid;
                            border-color: transparent transparent transparent #d49e2f;
                            /*透明 透明 透明 黄*/
                            position: absolute;
                            bottom: -7px;
                            right: 25px;
                            z-index: -1;
                        }
                    }

                    a.phone,a.phone {
                        background-color: transparent;
                        border: 1px solid $color_red;
                        color: $color_red;
                        text-align: center;
                        margin-top: 10px;
                    }
                }
            }

            &.list2 {
                table {
                    border: 2px solid #d4a138;
                    width: 100%;
                    position: relative;
                    border-bottom-width: 1px;
                    border-top: none;
                    table-layout: fixed;

                    tr {
                        th {
                            width: 38%;

                            &:first-of-type {
                                width: 24%;
                            }
                        }

                        &:last-of-type {
                            td {
                                border-bottom: none!important;
                            }
                        }
                    }

                    td,
                    th {
                        padding: 5px;
                        text-align: center;
                        height: 35px;
                        line-height: 1.3em;
                    }

                    th {
                        font-weight: normal;
                        background-color: #d49e2f;
                        color: #fff;
                        font-size: 14px;
                        border-right: 1px dashed #fff;
                    }

                    td {
                        color: #666;
                        font-size: 12px;
                        border-right: 1px dashed #d49e2f;
                        border-bottom: 1px dashed #d49e2f;

                        i {
                            font-size: 15px;
                            color: #d49e2f;
                        }
                    }
                }
            }

            &.list3 {
                width: 100%;
                height: 8.14rem;
                background: url('http://icon.carimg.com/mobile/0200/gongzhang_bg1.jpg!c') no-repeat;
                background-size: 100% 100%;
                overflow: hidden;

                div.swiper-container {
                    height: 7rem;
                    div.swiper-slide {
                        padding-left: 0.2rem;
                    }

                    a {
                        float: left;
                        margin: 0 0.25rem;

                        div.info {
                            height: 0.9rem;

                            em,
                            span {
                                text-align: center;
                                display: block;
                                font-size: 0.18rem;
                                color: #777;
                                line-height: 1.3em;
                                padding-top: 0.07rem;
                            }

                            em {
                                color: #d4a138;
                            }
                        }

                        div.lazy_body {
                            width: 2.46rem;
                            height: 2.46rem;
                            border: 1px solid $color_border;

                            div.lazy {
                                width: 2.15rem;
                                height: 2.15rem;
                                margin: 0.15rem auto;
                            }
                        }
                    }
                }
            }

            &.list4 {
                img {
                    width: 100%;
                    display: block;
                    height: 3.18rem;
                    margin-bottom: 15px;
                }
            }

            &.list5 {
                background: url('http://icon.carimg.com/mobile/0200/gongzhang_bg1.jpg!c') no-repeat;
                background-size: 100% 100%;

                ul {
                    font-size: 0;
                    text-align: center;

                    li {
                        display: inline-block;
                        width: 2.08rem;
                        height: 2.08rem;
                        text-align: center;
                        color: #d4a138;
                        position: relative;
                        margin: 0 0.25rem 15px;

                        &:after {
                            content: '';
                            display: block;
                            position: absolute;
                            width: 100%;
                            height: 100%;
                            left: 0;
                            top: 0;
                            border: 2px solid #d4a138;
                            border-top-color: $color_red;
                            border-radius: 50%;
                        }

                        &:nth-of-type(1) {
                            &:after {
                                @include transform(rotate(45deg));
                            }
                        }

                        &:nth-of-type(2) {
                            &:after {
                                @include transform(rotate(135deg));
                            }
                        }

                        &:nth-of-type(3) {
                            &:after {
                                @include transform(rotate(-45deg));
                            }
                        }

                        &:nth-of-type(4) {
                            &:after {
                                @include transform(rotate(-135deg));
                            }
                        }
                        border-top-color: $color_red;

                        i.iconfont {
                            font-size: 0.5rem;
                            display: inline-block;
                            padding-top: 0.15rem;
                            padding-bottom: 0.1rem;
                        }

                        span {
                            font-size: 0.27rem;
                            line-height: 1.5em;
                        }
                    }
                }
            }

            &.list6 {
                ul {
                    text-align: center;
                    font-size: 0;
                    margin-bottom: 15px;
                    padding-left: 0.4rem;
                    overflow: hidden;

                    li {
                        color: #d4a138;
                        width: 1.87rem;
                        float: left;

                        i.iconfont {
                            width: 1.4rem;
                            height: 1.4rem;
                            border: 1px solid $color_border;
                            text-align: center;
                            display: block;
                            line-height: 1.4rem;
                            font-size: 0.7rem;
                            margin: 0 auto;
                        }

                        span {
                            margin-top: 10px;
                            display: block;
                            width: 100%;
                            text-align: center;
                            font-size: 12px;
                        }
                    }
                }
            }
        }
    }
}

//团购
.page_tip{
    line-height:1.5;padding:60px 0 200px;overflow:hidden;
    .box{max-width:350px;margin:0 auto;}
    .icon-duihao{font-size:25px;line-height:25px;padding-right:10px;}
    .btn{width:30%;margin:0 auto;}
}
.seller_comment{
    .file_btn{height:50px;
        input{height:100%;width:100px;left:0;top:0;}
    }
    .pic_list{
        padding-bottom: 15px;
        li{margin:15px 0 0 0.3rem;display:inline-block;width:1.73rem;float:left;
            .iconfont{top:-0.2rem;right:-0.2rem;width: 0.4rem;height: .4rem;line-height: .4rem;background:#fff;border-radius:50%;color:$color_content1;font-size:0.4rem;}
        }
        img{width:100%;}
    }
}
