@import "_color"; //颜色
@import "_fn"; //方法
@import "block/case-list";
@import "block/img_view";
@import "block/liebiaobiaoti"; //列表页标题
@import "block/dingbushaixuan"; //列表页标题
@import "block/optimal_list"; //左边图片，右边文字
@import "block/top_tablink"; //顶部切换链接
@import "block/huifu_list"; //个人中心-回复列表
@import "block/dianping_list"; //个人中心-点评列表
@import "block/huodong_list"; //商家-活动列表
@import "block/shangpin_list"; //商家-商品列表
@import "block/img_view";//放大图

.marginlr {
    margin: 0 0.3rem;
}
.paddinglr {
    padding: 0 0.3rem;
}

.daigou{
    .box1{
        width: 6.4rem;
        height: 6.7rem;
    }
    dl.title{
        padding-top: 25px;
        dt{
            color: $color_title;
            line-height: 1.5em;
        }
        dd{
            color: $color_content1;
            line-height: 21px;
            span{
                display:inline-block; 
                &:before,&:after{
                    width: 0.7rem;
                    height: 1px;
                    content: '';
                    display: block;
                    position: absolute;
                    background: $color_content1;
                    top: 10px;
                }
                &:before{
                    left: -0.8rem;
                }
                &:after{
                    right: -0.8rem;
                }
            }
        }
    }
    .box2{
        .lazy{
            width: 5.04rem;
            height: 5.04rem;
            margin: 20px auto 0;
        }
    }
    .box3{
        padding-bottom: 21px;
        background: #f4f4f4;
        margin-top: 30px;
        .lazy{
            width: 5.8rem;
            height: 3.48rem;
            margin: 30px auto 0;
        }
    }
    .box4{
        .lazy{
            width: 5.8rem;
            height: 3.15rem;
            margin: 14px auto 0;
        }
    }
    .box5{
        margin: 25px 0.3rem;
        button{
            background-color: #1bbd9e;
            width: 100%;
            height: 44px;
            line-height: 44px;
            border-radius: 5px;
        }
    }
}
